@use './reset' as *;

// - - - - - - - - - - @mixin, 변수 등 - - - - - - - - - - 
//타블렛 1022px이하
@media(max-width: 1022px){

body{
}

//- - - - - - - - - - div.wrapper↓ - - - - - - - - - -
div.padding{
    padding: 136px 48px 160px;

    div.wrapper{
        //outline: 1px solid black;

        h1{
            font-size: 56px; //태블릿: 56PX; //모바일: 32px;
        }

        h2{
            margin: 44px 0px; //태블릿: 44px //모바일: 28px
            font-size: 32px; //태블릿: 32px //모바일: 24px
        }
    
        >nav{ //모바일: display: none;
            margin-bottom: 24px; //태블릿: 24px;
    
            >span{

                &::after{

                }
    
                &:nth-of-type(2){
                    &::after{

                    }
                }
                
            }
        }//nav

        >section{

            &:nth-of-type(-n+2){
            }

            p{
                font-size: 16px; //태블릿
                margin-top: 16px; //태블릿: 16px //모바일: 12px
            }
        }
    
        >section.contents1{
            >h1{
            }

            >i{
                >img{
                }
            }//i

            >dl{
                top: -10px; //태블릿: -30px //모바일: -20px;

                >dt{
                    font-size: 48px; //태블릿: 48px; //모바일: 32px
                }

                >dd{
                    font-size: 24px; //태블릿: 24px; //모바일: 20px
                    margin-top: 16px; //태블릿: 16px //모바일: 12px
                }
            }//dl
        }//article.contents1    

        >section.contents2{
           >p{
            
           }
            
        }//article.contents2  

        >section.contents3{
            >h2{

            }

            >p{
 
            }
             
        }//article.contents3     
    
    }//div.wrapper 

}//div.padding
//- - - - - - - - - - div.wrapper↑ - - - - - - - - - -

}// @media(max-width: 1022px) //타블렛 1022px이하 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



















