@use './reset' as *; 

@media(max-width: 1022px){

body{
}

// - - - - - - - - - - header↓ - - - - - - - - - - 
header{

    height: 88px; //태블릿: 88px //모바일: 높이가 56px
    padding-top: 33px; //태블릿: 33px //모바일: 17px 

    >.head_El{            
        >h1.Logo{ 
            >a{
                //width: 152px; height: 21px; //모바일부터 다시 활성화
            }
        }//h1.Logo
        
        >div.head_right{
            >.Language{
                width: 84px; height: 30px; //태블릿: 84x30 //모바일: 71x24
                margin-right: 60px; //태블릿: 60px //모바일: 20px

                //font-size: 13.3px; //모바일: 12.5px
            }
            >.verMenu_btn{
                width: 22px; height: 22px; //태블릿: 22x22
            }
        }//div.head_right

    }//.head_El //헤더요소들

}//header //헤더배경
// - - - - - - - - - - header↑ - - - - - - - - - -


//- - - - - - - - - - Navigation↓ - - - - - - - - - -
nav{
    padding: 0 48px; //태블릿: 48px //모바일: 32px
    align-items: flex-start;

    &.active{
    }

    // ↓ 모바일은 알아서 맞춰보삼
    >div.head_gnb_vertical_top_Wrap{

        >h1.Logo{
        }
        >div.xBtn{
        }
    }//div.head_gnb_vertical_top_Wrap //로고와 x버튼

    >ul.head_gnb_vertical{
        font-size: 32px;
        line-height: 100%; //태블릿

        //- - - - - - - - - -(gnb1_투썸플레이스 소개)- - - - - - - - - -
        >li{
            margin-top: 32px; //태블릿: 32px //모바일: 24px
            >a{
                line-height: 48px; //태블릿: 48px //모바일: 36px

                &::before{
                }
                &:hover{
                    &:before{
                    }
                }
            }//>a

            >ul.head_lnb{
                top: 32px; //태블릿: 32px // 모바일: 0px
                left: calc(350px + 60px); //태블릿: calc(350px + 60px) // 모바일: 0px

                >li{// 투썸플레이스 ~ 브랜드 브로슈어(총 9개의 li의 lnb [6,2,1 개로 나뉨])
                    &:not(:first-child){margin-top: 24px;} //태블릿: 24px //모바일: 16px
                    >a{
                        font-size: 24px;
                        line-height: 100%; //태블릿: 100%
                    }
                    &.mini{
                        margin-top: 14px; //태블릿: 14px //모바일: 16px
                        >a{
                            font-size: 20px;
                            line-height: 100%; //태블릿: 100%
                        }
                    }//&.mini

                }
            }//ul.head_lnb //(gnb1_투썸플레이스 소개의 lnb)

            //태블릿, 모바일 알아서 바꿔보삼
            &.active{
                >a{
                    &:before{
                        margin-right: 15px;
                    }
                }
                >ul{
                }
            }//active가 붙은 li태그
        
        }//li //(gnb1_투썸플레이스 소개(gnb의 a태그 + ul.head_lnb))

    }//ul.head_gnb_vertical //세로 메뉴내용

    >div.head_gnb_vertical_bottom{
        bottom: 40px; right: 40px; //태블릿: 40x40(어림잡음)  //모바일: bottom: 0px; right: auto;

        //모바일: border-top: 1px solid #999;

        >ul.sideMenu{
            >li{
                &:not(:last-child){margin-bottom: 16px;} //태블릿: 16px //모바일: 14px
                >a{
                    @include font(16px, 500, #999); //태블릿: 16px //모바일: 14px
                }
            }
            margin-bottom: 25px; //태블릿: 25px(어림잡음) //모바일: 32px
        }//ul.sideMenu

        >ul.snsIcons{
            >li{
                >a{
                    >img{

                    }
                }
            }
        }//ul.snsIcons

    }//div.head_gnb_vertical_bottom //사이드메뉴 + SNS아이콘들

}//nav //세로 메뉴배경
//- - - - - - - - - - Navigation↑ - - - - - - - - - -


div#view{
//- - - - - - - - - - div.wrapper↓ - - - - - - - - - -
div.wrapper{

    //모든 페이지
    >section{
        h1{
            font-size: 64px;
            
            &::after{//제목 옆의 빨간네모
                width: 14px; height: 14px; //태블릿: 14x14 //모바일: 8x8
                margin-left: 8px; //태블릿: 8px //모바일: 6px
            }
        }

    }//section //모든 페이지

    >section.main{//1page
       
        >ul.main_slide{//슬라이드(사진묶음)
            >li{
                >picture{ //메인_1 커피배경, 메인_2 여러 케잌배경
                    >source{
                    }
                    >img{
                    }
                }
            }//li
        }//ul.main_slide //슬라이드

        >div.pagination_wrap{//페이지네이션
            //bottom: 32px; //모바일: bottom: 24px;
            width: 192px; height: 48px; //태블릿: 192x48 //모바일: 136x48

            //좌측 화살표
            >div.leftBtn{
            }
            // 전체페이지수/현제페이지수
            >span.pagination_pageNumber{
                font-size: 14px; //태블릿: 14px
                >span:nth-of-type(1){
                    
                }
                >span:nth-of-type(2){

                }
                >span:nth-of-type(3){

                }
            }
            //우측 화살표
            >div.rightBtn{

            }
        }//div.pagination_wrap //페이지네이션- - - - - - - - - - - - -
    }//section.main //1페이지

//////////////////////////////////////////////////////////////////////

    >section.menuStory{//2page

        >div.menuStory_Wrapper{
            //width: 100%;//태블릿 width: 100%; height: 420px;  
            height: 420px;

            >h1{//MENU STORY
            }//h1
            >ul.text_btn{
                height: 235px;//태블릿: 320x235 //모바일: 100%x60

                >li{
                    >span{
                        font-size: 14px;
                        margin-bottom: 8px;//태블릿: 8px //모바일: 8px     
                    }
                    >b{
                        font-size: 24px;     
                    }
                }//>li

                //클릭이벤트 임시
                >li.active{
                    >span{
                    }
                    >b{
                    }
                }//>li.active

            }//ul.text_btn //COFFEE STORY~DELI STORY(버튼+설명 총 3개 묶음)
    
            >div.slides_wrapper{ //슬라이드 + 페이지네이션
                max-width: 60%; 

                >ul.topEx_mobile{
                }//>ul.topEx_mobile

                >div.img_slides{ //슬라이드

                    >ul{ //총 3개의 모든 슬라이드
                        &.active{//첫번째 슬라이드
                            width: calc(128px + 32px);   
                        }//&.active
                        
                        >li{//각각의 사진
                            height: 128px; //태블릿: 128x128 //모바일: overflow: hidden에 가려짐

                            //자바스크립트로 후에 다시 제어
                            &.active{//첫번째 사진
                                width: calc(368px + 32px); height: 368px; //태블릿: calc(368px + 32px) x 368 //모바일: width: 100%
                            }//&.active
                            >a{
                                >img{

                                }//>img
                            }//>a
                        }//>li
                    }//>div.img_slides>ul //총 3개의 모든 슬라이드

                    
                }//div.img_slides //슬라이드 //총 3개의 슬라이드 묶음 COFFEE STORY~DELI STORY
    
                >div.img_slide_pagination{//페이지네이션
                    transform: translate(24px, -50%);//태블릿: 24px //모바일 0px, 0px
                    width: 320px; height: 48px; 
                    font-size: 14px;

                    //좌측 화살표
                    >div.leftBtn{
                    }
                    //음식이름
                    >span{          
                    }
                    //우측 화살표
                    >div.rightBtn{
                    }
                }//div.img_slide_pagination //페이지네이션
    
    
            }//div.slides_wrapper //슬라이드 + 페이지네이션
        }//div.menuStory_Wrapper
    
    }//section.menuStory //2페이지

//////////////////////////////////////////////////////////////////////

    >section.aList{//3page
        background: url('../img/img_3_2.jpg') center bottom / cover no-repeat scroll;
        //padding-left: 48px; //모바일: 32px
        
        >div.text_wrap{

            >h1{//에이리스트
                margin-bottom: 72px; //태블릿: 72px //모바일: 32px
            }
            >strong{
                font-size: 24px;
                margin-bottom: 28px; //태블릿: 28px 
            }
            >span{
                font-size: 20px;
            }
            >p{
                font-size: 14px
            }
        }//div.text_wrap //텍스트 전체 묶음

    }//section.aList //3페이지

//////////////////////////////////////////////////////////////////////

    >section.brandSupport{//4page- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


    }//section.brandSupport //4페이지


    //////////////////////////////////////////////////////////////////////
    
    >section.franchise{//5page

        >div.background{

        }//div.background

        >div.ex_wrap{

            >h1{
            }
            >strong{
                font-size: 20px; //태블릿: 20px //모바일: 16px
                margin-bottom: 20px; //태블릿: 20px //모바일: 16px
            }
            >p{
                @include font(14px, 400, #333); //태블릿: 14px
                margin-bottom: 40px; //태블릿: 40px //모바일: 30px
            }
            >div.btn{

                >div{
                    min-width: 184px; //태블릿
                    width: 100%; height: 56px; //태블릿: 100%x56px //모바일: height: 48px

                    >a{
                        padding: 0 16px; //태블릿: 16px;
                        font-size: 14px;  //태블릿

                        &::after{//화살표
                            //모바일: display: none;
                            width: 22px; height: 22px; //태블릿: 22x22
                        }   

                        &::before{//검은배경
                        }

                        // a hover시
                        &:hover{
                            &::before{
                            }
                        }//hover

                    }//a                    

                    &:nth-of-type(1){
                    }



                }//div //각 버튼들
            }//div.btn            
        }//div.ex_wrap

    }//section.franchise //5페이지
    
    //////////////////////////////////////////////////////////////////////
    
    >section.newAndNotice{//6page

        div.container{
            //outline: 3px solid black;
            
            height: 100%; //모바일: height: 387px;
            align-items: center; //모바일: flex-direction: column;

            >div.left{
                padding: 0px; //태블릿: padding: 56px 0px 158px //모바일: 0px
                height: auto;

                //border: 1px solid black;
                >h1{
                    
                }
                >span{
                    margin: 30px 0px 63px; //태블릿: 30px 63px //모바일: 30px 26px 
                    font-size: 18px; //태블릿: 18px; //모바일: 16px;
        
                }

                >p{
                    width: 288px; height: 183px; //태블릿: 288x183 //모바일: display: none;
                    >img{
                    }
                }//>p
            }//div.left
        
            >div.right{
                max-width: 450px; // 태블릿 //모바일: none
                width: 100%; height: 428px; //태블릿: 100%x428
                >ul{

                    >li{
                        
                        
                        &::before{//검은배경 //모바일: display: none;
                        }//&::before

                        >a{
                            padding: 30px 32px; //태블릿: 30px 32px
                            //모바일: 28px 24px

                            >em{
                                font-size: 14px;
                                //태블릿: 14px //모바일: 12px
                            }

                            >strong{
                                font-size: 16px;
                                //태블릿: 16px //모바일: 18px
                            }

                            >span{
                                font-size: 14px;
                                //태블릿: 14px //모바일: 12px
                            }
                        }//a

                        &:hover{
                            //모바일: display: none;
                            &::before{
                            }
                            >a{
                                >strong{                    
                                }
                                >span{
                                }
                            }//>a
                        }//&:hover
                    }//li
                }//>ul
            }//>div.right



            >div.pagination_wrap{//페이지네이션 

                >div.leftBtn{

                }
                // 전체페이지수/현제페이지수
                >span.pagination_pageNumber{
                    >span:nth-of-type(1){

                    }
                    >span:nth-of-type(2){

                    }
                    >span:nth-of-type(3){

                    }
                }//>span.pagination_pageNumber

                >div.rightBtn{

                }//>div.rightBtn
                
            }//div.pagination_wrap //페이지네이션

        }//div.container

    }//section.newAndNotice //6페이지

}//div.wrapper //모든 컨텐츠 모아둔 거(1~6페이지)
//- - - - - - - - - - div.wrapper↑ - - - - - - - - - -

//- - - - - - - - - - footer↓ - - - - - - - - - -
footer{
    height: 448px; //태블릿: 448px //모바일: 562px

    >div.footerWrapper{
        height: 368px; //태블릿: 368px //모바일: 497px
        padding: 0px 32px; //모바일: 32px

        >div.footer_top{
            
            >div.topLeft{
                width: 177px; height: 114px; //태블릿: 175x114 //모바일 100%x105
                >a{                    
                    font-size: 20px;//태블릿: 20px //모바일 18px
                }
            }//div.topLeft //상단좌측
            
            >div.topRight{
                width: 379px; height: 114px; //태블릿: 379x114 

                >div.Address, >div.CustomerCenter{
                    >b{
                        font-size: 14px; //태블릿: 14PX
                        margin-bottom: 10px; //태블릿: 10PX
                    }
                    >span{//Address
                        font-size: 12px; //태블릿: 12PX
                    }
                    >ul{//CustomerCenter
                        >li{
                            font-size: 12px; //태블릿: 12PX
                        }
                    }//>ul
                }//div.Address
                
                >div.CustomerCenter{
                    >b{
                        
                    }
                    >ul{
                        >li{
                            
                        }
                    }
                }//div.CustomerCenter
                
            }//div.topRight //상단우측
    
        }//div.footer_top //상단 묶음
        
        >div.footer_bottom{
            padding-top: 40px; //태블릿: 40PX //모바일: 32PX
            >ul.footer_bottom_menu_Btn{
                >li{
                    >a{
                        font-size: 12px; //태블릿: 12px
                    }
                    >a.YellowFont{
                    }
                }//>li
            }//ul.footer_bottom_menu_Btn 
            
            >ul.grayInfo{
                >li{
                    font-size: 12px; //태블릿: 12px
                    &:nth-of-type(n+2)::before{
                    }
                }//>li
            }//ul.grayInfo
    
        }//div.footer_bottom //하단 묶음
    
        >ul.footer_bottom_snsIcons{
            
            >li{
                &:nth-of-type(3){
                }
                >a{
                    >img{
                    }
                }
            }//>li
        }//div.footer_bottom_snsIcons //SNS아이콘버튼들
    }//div.footerWrapper

}//footer //푸터배경
//- - - - - - - - - - footer↑ - - - - - - - - - -
}//div#view

    //전체 페이지 알려주는 선
div.fullPage{
    right: 48px; //태블릿: right: 48px;
    height: 134px; //태블릿: 22x134
    // border: 1px solid black;
    font-size: 12px;

    >span{
        
    }
    >p{
        height: 83.6px; //태블릿: height: 83.6px
        background-color: rgba(120,120,120,0.2);

        >span{
        }
    }//>p

}//div.fullPage //전체 페이지 알려주는 선

//기업단체구매 버튼 + 스크롤최상단이동 버튼
div.wrapper_Btn{
        
    >a.bulkPurchase_btn{
        width: 168px; height: 56px; //태블릿: 168x56 
        border-radius: 28px; //태블릿: 28px 
        font-size: 16px; //태블릿: 16px //모바일: 14px

        &::after{
            //선물상자 아이콘
            width: 32px; height: 32px; //태블릿: 32x32
            margin-left: 8px; //태블릿: 8px
        }
    }//>a.bulkPurchase_btn

    >div.moveScrollTop_btn{
        width: 56px; height: 56px; //태블릿: 56x56 //모바일: 48x48
        font-size: 26px; //태블릿: 26px //모바일: 20px
        margin: 12px 4px 0 0; //태블릿: 12x4 //모바일: 8x4
    }//>div.moveScrollTop_btn


}//div.wrapper_Btn //기업단체구매 버튼 + 스크롤최상단이동 버튼

}//@media(max-width: 1022px)




















